h2 {
  margin-left: 10px;
}

nav {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

nav ul {
  padding: 10px;
}

nav li {
  text-decoration: none;
  display: inline;
  padding: 10px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

nav li a {
  color: white;
  text-decoration: none;
}

.form-container {
  text-align: center;
  margin-top: 70px;
}

.form-container input {
  width: 200px;
}

.container {
  background: gray;
}

