h2 {
  margin-left: 10px;
}

nav {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

nav ul {
  padding: 10px;
}

nav li {
  text-decoration: none;
  display: inline;
  padding: 10px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  color: white;
  text-decoration: none;
}

.task-container {
  text-align: center;
  margin-top: 100px;
}

.task-container label{
  text-align: left;
}

.task-container input {
  border-radius: round;
  height: 25px;
  width: 350px;
  margin-right: 70px;
}

.task-container button {
  border: 2px solid royalblue;
  color: royalblue;
  border-radius: round;
  height: 30px;
  width: 150px;
}

.todo-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  background: gray;
  width: 100%;
}

.form-container {
  margin-top: 50px;
  text-align: center;
}

.active {
  background: royalblue;
}